* {
    margin: 0;
    padding: 0;
    outline: none;
}

ul, ol {
    padding: 0;
    margin: 0;
}

.dropdown-menu {
    border-radius: 0;
    margin: 0;
    border: none;
    left: 14px;
}

.row.nopadding {
    margin-right: 0px;
    margin-left: 0px;
}

.row.nopadding > div {
    padding-right: 0px;
    padding-left: 0px;
}

.dropdown-menu li {
    display: block;
}

.heading-font {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
}

body {
    background-color: #e8e9eb;
    font-family: 'Open Sans', sans-serif;
    color: #333 !important;
    font-weight: 600;
}

header {
    background-color: #fff;
    box-shadow: 0 0 5px #999;
}

.header-top {
    border-bottom: 1px solid #eee;
}

.header-top-menu > li {
    display: inline-block;
}

.header-top-menu > li a {
    padding: 8px 12px;
    color: inherit;
    display: block;
}

.social-icons a {
    margin: 8px 2px;
    display: inline-block
}

.header-bottom {
    padding: 20px 0;
}

.header-bottom-menu > li {
    display: inline-block;
}

.header-bottom-menu > li a {
    padding: 17px 12px;
    color: inherit;
    display: block;
    text-transform: uppercase;
}

.search-wrap {
    padding: 17px;
    position: relative;
}

.search-wrap .search-form {
    display: none;
    visibility: hidden;
    transition-duration: .3s;
    position: absolute;
}

.search-wrap:hover .search-form {
    display: block;
    visibility: visible;
}

.btn-red-white {
    border: 1px solid #e71c34;
    color: #e71c34;
    padding: 14px;
    font-weight: 700;
    margin: 4px 0;
}

.btn-red-white:hover {
    
}

.home-banner-image-wrap > img {
    width: 100%;
}

.home-banner-content-left {
    background-color: #1c6de7;
    font-size: 24px;
    font-weight: 500;
}

.home-banner-content-right {
    background-color: #1657b9;
}

.home-banner-content-left, .home-banner-content-right {
    padding: 55px 40px;
    color: #fff;
}

.btn-white {
    border: 1px solid #fff;
}

.text-bold {
    font-weight: 700;
}

.last-news {
    background-color: #fff;
    padding: 20px;
}

.h2 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0px;
    font-size: 18px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.h2:before {
    content: url(../images/h2-before.png);
    top: 5px;
    position: relative;
    margin-right: 13px;
}

.last-news-item {
    border-bottom: 13px solid #e8e9eb;
    padding: 10px 0;
}

.last-news-item-title {
    font-weight: 700;
}

.last-news-item-date {
    color: #999;
    font-size: 10px;
    line-height: 20px;
}

.last-news-item-text {
    padding: 5px 0;
    color: #999;
    font-size: 13px;
}

.more-news {
    color: #e71c34;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Abril Fatface', cursive;
}

.in-evidenza {
    padding: 30px 0;
    background-color: #fff;
}

.evidenza-image {
    position: relative;
}

.evidenza-image > img {
    width: 100%;
}

.evidenza-date {
    position: absolute;
    right: 0;
    bottom: 30px;
    padding: 5px;
    background-color: #fff;
    font-size: 13px;
    color: #888;
}

.evidenza-title {
    font-family: 'Abril Fatface', cursive;
    padding: 10px 0;
    font-size: 19px;
    color: #444;
}

.evidenza-text {
    font-size: 13px;
    color: #888;
}

.events-wrap {
    background-color: #e8e9eb;
    padding-top: 30px;
}

.events-wrap .h2 {
    font-size: 21px;
}

.events-wrap .h2:before {
    top: 4px;
}

.all-events {
    color: #e71c34;
    font-family: 'Abril Fatface', cursive;
    padding: 10px 0;
}

.event-item {
    font-family: 'Abril Fatface', cursive;
    padding: 20px 0;
}

.event-date-left {
    width: 40px;
    float: left;
}

.event-date-right {
    margin-left: 40px;
    color: #e71c34;
    position: relative;
    top: -3px;
}

.event-date-date {
    font-size: 22px;
    position: relative;
    top: -6px;
}

.event-date-time {
    position: relative;
    top: -7px;
}

.event-place {
    font-size: 17px;
}

.event-title {
    font-size: 22px;
    position: relative;
    top: -7px;
}

.campains-wrap {
    background-color: #fff;
}

.campain-item {
    margin: 20px 0;
}

.campains-left{
    background-image: url(../images/red-bg.jpg);
    background-size: cover;
    height: 400px;
    position: relative;
}

.campains-left-text {
    position: absolute;
    top: 40%;
    color: #fff;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    width: 100%;
    left: 0;
}

.campains-left-text > h2 {
    font-size: 37px;
}

.campains-left-text > div {
    font-size: 17px;
    font-weight: 100;
}

.campains-right {
    padding: 50px 0;
    font-family: 'Abril Fatface', cursive;
    font-size: 17px;
}

.campain-title {
   padding: 10px 50px;
}

.buttons-wrap {
    background-color: #e8e9eb;
    padding: 35px 0;
}

.btn-red {
    background-color: #e71c34;
    color: #fff;
    padding: 17px 30px;
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    margin: 0 10px;
    width: 300px;
}

.btn-red-black {
    background-color: transparent;
    color: #444;
    padding: 17px 30px;
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    border: 1px solid #e71c34;
    margin: 0 10px;
    width: 300px;
}

.footer-top {
    background-color: #515152;
    padding: 30px 0;
    color: #fff;
}

.footer-top h2.h2 {
    font-size: 16px;
}

.footer-top ul {
    list-style-type: none;
}

.footer-top ul > li {
    display: inline-block;
    width: 49%;
}

.footer-top ul > li > a {
    color: #fff;
    font-size: 13px;
    padding: 5px 0;
    display: inline-block;
}

#subscribe-form {
    padding: 10px 0;
}

#subscribe-form input, #subscribe-form button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 15px;
    text-align: center;
    margin: 0;
}

#subscribe-form input {
    width: 300px;
}

#subscribe-form button {
    position: relative;
    left: -4px;
    background-color: #e71c34;
}

.footer-bottom {
    background-color: #383838;
    padding: 30px 0;
    color: #fff;
}

.footer-bottom h3 {
    font-family: 'Abril Fatface', cursive;
}

.footer-bottom-text {
    font-size: 13px;
    font-weight: 300;
}

.created-by {
    padding-top: 50px;
}

.created-by a {
    color: inherit;
}